<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <!-- <h1><a href="{{ site.url }}/">{{ site.title }}</a></h1> -->
  <h1><a href="{{ site.url }}/"><img src="images/VAPORSHELL-TYPE-W.png" alt="VaporShell" /></a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <!--<li><a href="{{ site.url }}/">Home</a></li>-->
            {% for item in site.data.menuitems %}
                <li><a href="{{ item.url | prepend: site.url }}" class="{{ "icon fa-" | append: item.icon}}"> {{ item.title }}</a></li>
            {% endfor %}
            <!--<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li>-->
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>