---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div> 
  </section>

  <section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h2>Keep Digging</h2>
				<p>Head back to the glossary to dive further or go all the way back to the documentation</p>
			</header>
			<ul class="actions vertical">
				<li><a href="{{ "/docs/glossary/" | prepend: site.baseurl }}" class="button special">Glossary</a></li>
                <li><a href="{{ "/docs/" | prepend: site.baseurl }}" class="button">Documentation</a></li>
			</ul>
		</div>
	</section>

</article>
